# Ignore all __pycache__ directories and Python bytecode files
**/__pycache__/
*.py[cod]

# Ignore the mongo-data directory
mongo-data/

# Ignore dependencies
4tellr-frontend/node_modules/
4tellr-frontend/.pnp*
4tellr-app/.venv/
4tellr-app/pyenv.cfg

# Ignore all .idea directories
**/.idea/

# Ignore all virtual environments
**/.venv/

# Ignore testing files
4tellr-frontend/coverage/

# Ignore production build directory
4tellr-frontend/build/

# Miscellaneous
4tellr-frontend/.DS_Store
4tellr-frontend/.env*
4tellr-frontend/npm-debug.log*
4tellr-frontend/yarn-debug.log*
4tellr-frontend/yarn-error.log*
