# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
4tellr-frontend/node_modules
4tellr-frontend/.pnp
4tellr-frontend/.pnp.js
4tellr-app/.venv/bin
4tellr-app/.venv/lib
4tellr-app/pyennv.cfg


# testing
4tellr-frontend/coverage

# production
4tellr-frontend/build

# misc
4tellr-frontend/.DS_Store
4tellr-frontend/.env.local
4tellr-frontend/.env.development.local
4tellr-frontend/.env.test.local
4tellr-frontend/.env.production.local

4tellr-frontend/npm-debug.log*
4tellr-frontend/yarn-debug.log*
4tellr-frontend/yarn-error.log*
