# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
4tellr-frontend/node_modules
4tellr-frontend/.pnp
4tellr-frontend/.pnp.js
4tellr-app/.venv/bin
4tellr-app/.venv/lib
4tellr-app/pyennv.cfg
4tellr-frontend/.idea
4tellr-app/.idea
.idea/
system-sim/.idea
system-sim/.venv
system-sim/pyenv.cfg
system-sim/.gitignore
4tellr-app/__pycache__/
system-sim/__pycache__/
system-sim/api_helper/__pycache__/
.gitignore.swp
4tellr-app/helpers/__pycache__/
4tellr-app/app/__pycache__/
4tellr-app/app/endpoints/__pycache__/
BankingSimulator/src/__pycache__/
BankingSimulator/src/helpers/__pycache__/
4tellr-app/utils/__pycache__/
4tellr-app/utils/__pycache__/
services/__pycache__/
4tellr-app/services/__pycache__/
4tellr-app/app/api/__pycache__/
4tellr-app/app/api/__pycache__/



# testing
4tellr-frontend/coverage

# production
4tellr-frontend/build

# misc
4tellr-frontend/.DS_Store
4tellr-frontend/.env.local
4tellr-frontend/.env.development.local
4tellr-frontend/.env.test.local
4tellr-frontend/.env.production.local

4tellr-frontend/npm-debug.log*
4tellr-frontend/yarn-debug.log*
4tellr-frontend/yarn-error.log*
