/* src/styles/SummaryMetrics.css */
.status-block {
  padding: 0rem;
  text-align: center;
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status-block.error {
  background-color: #8B0000; /* Dark Red */
}

.status-block.not-met-exp {
  background-color: #FF8C00; /* Dark Orange */
}

.status-block.late {
  background-color: #FF0000; /* Red */
}

.status-block.meets-sla {
  background-color: #FFD700; /* Gold */
}

.status-block.meets-slo {
  background-color: #90EE90; /* Light Green */
}

.status-block.on-time {
  background-color: #008000; /* Green */
}

.status-block.new-event {
  background-color: #1E90FF; /* Dodger Blue */
}

.status-block.waiting {
  background-color: #aaafff; /* Dodger Blue */
}